<div class="flex-start mb-2 flex items-baseline text-sm">
  <a data-link data-pfp-wrapper href="#" class="inline">
    <img
      get-parent-a
      data-pfp
      class="inline h-8 w-8 rounded-full object-cover"
      src="/assets/icons/profile.svg"
      alt="user"
    />
  </a>
  <div class="m-2 w-full">
    <!-- Set max-width to 20% -->

    <a data-link data-pfp-wrapper href="#" class="inline">
      <span get-parent-a data-username class="inline font-bold">Username:</span>
    </a>
    <span data-comment-content class="font-medium text-gray-700">
      Comment Content Lorem, ipsum dolor sit amet consectetur adipisicing Amet
      odio voluptatum iure magnam reprehenderit maxime explicabo, reiciendis
      fugiat! Magni, repellendus iusto omnis unde officia nulla maiores
      dignissimos autem voluptatibus ipsum!
    </span>
  </div>
</div>
<div class="mx-10 flex gap-8">
  <button
    data-comment-id=""
    data-reply-button
    type="button"
    class="flex items-center self-end text-sm font-medium text-gray-500 hover:underline dark:text-gray-400"
  >
    <svg
      class="mr-1.5 h-3.5 w-3.5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 18"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"
      />
    </svg>
    Reply
  </button>
  <button
    data-comment-id=""
    data-edit-button
    type="button"
    class="flex items-center self-end text-sm font-medium text-gray-500 hover:underline dark:text-gray-400"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      fill="currentColor"
      height="800px"
      width="800px"
      version="1.1"
      viewBox="0 0 512 512"
      enable-background="new 0 0 512 512"
      class="mx-1 h-4 w-4"
    >
      <g>
        <g>
          <path
            d="m455.1,137.9l-32.4,32.4-81-81.1 32.4-32.4c6.6-6.6 18.1-6.6 24.7,0l56.3,56.4c6.8,6.8 6.8,17.9 0,24.7zm-270.7,271l-81-81.1 209.4-209.7 81,81.1-209.4,209.7zm-99.7-42l60.6,60.7-84.4,23.8 23.8-84.5zm399.3-282.6l-56.3-56.4c-11-11-50.7-31.8-82.4,0l-285.3,285.5c-2.5,2.5-4.3,5.5-5.2,8.9l-43,153.1c-2,7.1 0.1,14.7 5.2,20 5.2,5.3 15.6,6.2 20,5.2l153-43.1c3.4-0.9 6.4-2.7 8.9-5.2l285.1-285.5c22.7-22.7 22.7-59.7 0-82.5z"
          />
        </g>
      </g>
    </svg>
    Edit
  </button>
  <button
    data-comment-id=""
    data-viewReply-button
    type="button"
    class="flex items-center self-end text-sm font-medium text-gray-500 hover:underline dark:text-gray-400"
  >
    <svg
      class="mr-1.5 h-3.5 w-3.5"
      fill="currentColor"
      version="1.1"
      id="Capa_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="800px"
      height="800px"
      viewBox="0 0 45.402 45.402"
      xml:space="preserve"
    >
      <g>
        <path
          d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
   c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
   c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
   c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"
        />
      </g>
    </svg>
    View All Replies
  </button>
</div>
