<form class="flex flex-col" id="loginform">
  <input
    type="text"
    name="username"
    id="login_username"
    placeholder="Username"
    class="form-input"
  />
  <span id="usernameError" class="form-error"></span>

  <input
    type="password"
    name="password"
    id="login_password"
    placeholder="Password"
    class="form-input"
  />
  <span id="passwordError" class="form-error"></span>

  <button type="submit" class="CTA CTA--primary">Log In</button>

  <div className="divider">
    <span class="divider-line"></span>
    <span class="divider-text">OR</span>
    <span class="divider-line"></span>
  </div>
  <a id="GoogleLoginLink">
    <img src="assests/icons/LogInGoogle.png" class="CTA--image" />
  </a>
</form>
