<div class="" id="edit-modal">
  <div
    class="fixed left-0 top-0 h-dvh w-lvw bg-slate-500 bg-opacity-10 backdrop-blur-lg"
  ></div>
  <div
    class="absolute left-1/2 top-1/3 w-11/12 -translate-x-1/2 -translate-y-1/3 md:w-1/4"
  >
    <h1 class="py-16 text-center text-4xl">Reset Password Form.</h1>
    <form class="space-y-8" id="editForm">
      <div>
        <label
          for="reset_password"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Password</label
        >
        <div>
          <input
            type="password"
            name="password"
            id="reset_password"
            placeholder="Password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <div>
            <span
              id="passwordStrength"
              class="w-full rounded-md py-0.5 sm:text-sm sm:leading-6"
              ></span
            >
          </div>
          <span
            id="passwordError"
            class="w-full rounded-md py-0.5 text-red-700 sm:text-sm sm:leading-6"
          ></span>
        </div>
      </div>

      <div>
        <label
          for="reset_password_recheck"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Re-enter Password</label
        >
        <div>
          <input
            type="password"
            name="password"
            id="reset_password_recheck"
            placeholder="Re-enter Password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <span
            id="passwordRecheckError"
            class="w-full rounded-md py-0.5 text-red-700 sm:text-sm sm:leading-6"
          ></span>
        </div>
      </div>

      <button
        type="submit"
        c
        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Change
      </button>
    </form>
  </div>
</div>
