<!-- component -->
<div class="w-full min-w-64 max-w-xl p-4">
  <div class="w-full rounded-sm border border-neutral-300">
    <div class="flex justify-between">
      <a class="flex items-center px-4 py-3" data-link data-pfp-wrapper>
        <img
          data-pfp
          get-parent-a
          class="h-8 w-8 rounded-full"
          src="/assets/icons/profile.svg"
          sss
        />
        <div get-parent-a class="ml-3">
          <span
            data-username
            get-parent-a
            class="block text-sm font-semibold leading-tight antialiased"
            >Username</span
          >
        </div>
      </a>
      <button
        data-delete-post
        class="my-auto block rounded-md bg-red-600 p-2 text-neutral-200 hover:bg-red-500"
      >
        Delete Post
      </button>
    </div>

    <div
      data-carousel
      class="relative col-span-2 flex aspect-square h-auto w-full self-center overflow-hidden"
    >
      <img
        data-right-arrow
        src="/assets/icons/right.png"
        class="absolute right-0 top-1/2 cursor-pointer rounded-full p-4 text-center text-5xl text-neutral-50"
      />
      <img
        data-left-arrow
        src="/assets/icons/left.png"
        class="absolute left-0 top-1/2 cursor-pointer rounded-full p-4 text-center text-5xl text-neutral-50"
      />
      <img
        data-post-media
        class="aspect-square h-auto w-full min-w-full max-w-full object-cover"
        src=""
        alt="Description"
      />
    </div>

    <div class="mx-4 mb-2 mt-3 flex items-center justify-between">
      <div class="flex gap-5">
        <button data-like-button data-liked="false">
          <img src="/assets/icons/like.svg" alt="" />
        </button>
        <button data-comment-button>
          <img src="/assets/icons/comment.svg" alt="" />
        </button>
        <button data-share-button>
          <img src="/assets/icons/share.svg" alt="" />
        </button>
      </div>
      <div class="flex">
        <button data-save-button data-saved="false">
          <img src="/assets/icons/save.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="mx-4 mb-4 mt-2 text-sm font-semibold">
      <button><span data-like-count>92,372</span> likes</button>
      <div class="py-2">
        <a data-link data-pfp-wrapper>
          <span
            get-parent-a
            data-username
            class="text-sm font-semibold leading-tight antialiased"
            >8fact</span
          >
        </a>
        <p data-caption class="inline font-normal leading-snug">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, ratione
          dicta deleniti, quas distinctio, veniam quo rem eveniet aliquid
          repudiandae fuga asperiores reiciendis tenetur? Eius quidem impedit et
          soluta accusamus.
        </p>
      </div>
      <button data-view-comment-button class="font-normal text-neutral-500">
        View comments
      </button>
    </div>
  </div>
</div>
<hr class="m-4 h-0.5 min-w-64 max-w-xl border-t-0 bg-neutral-200" />
