<div id="bio-page" class="w-10/12 max-w-4xl">
  <!--body start-->
  <!--profile data-->
  <div class="h-auto w-full bg-gray-100">
    <div class="flex w-full flex-wrap md:flex-row-reverse">
      <div class="w-full p-4 text-center md:w-3/4">
        <div class="pl-4 pt-3 text-left">
          <span data-username class="mr-2 text-2xl text-gray-700"
            >Username</span
          >
          <span class="mr-2 text-base font-semibold text-gray-700">
            <button
              data-edit-button
              class="rounded border border-gray-600 bg-transparent px-4 py-2 text-sm font-semibold text-gray-700 hover:border-transparent hover:bg-blue-500 hover:text-white"
            >
              Edit Profile
            </button>
          </span>
          <span class="mr-2 text-base font-semibold text-gray-700">
            <button
              data-follow-btn
              class="my-auto me-2 rounded-lg bg-blue-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300"
            >
              Follow
            </button>
          </span>
        </div>

        <div class="pl-4 pt-3 text-left">
          <span class="mr-2 text-base font-normal text-gray-700">
            <span class="font-semibold" data-post-count>123</span> posts
          </span>
          <span class="mr-2 text-base font-normal text-gray-700">
            <span class="font-semibold" data-follower-count>456</span> followers
          </span>
          <span class="text-base font-normal text-gray-700">
            <span class="font-semibold" data-following-count>789</span>
            following
          </span>
        </div>

        <div class="pl-4 pt-3 text-left">
          <span data-fullname class="mr-2 text-lg font-bold text-gray-700"
            >John Doe</span
          >
        </div>

        <div class="pl-4 pt-3 text-left">
          <p data-bio class="mr-2 text-base font-medium">The Bio Goes Here</p>
        </div>
      </div>

      <div class="relative p-4 text-center md:w-1/4">
        <div class="relative">
          <div
            class="absolute inset-0 flex h-40 w-40 items-center justify-center rounded-full bg-black bg-opacity-50 text-white opacity-0 transition-opacity hover:opacity-100"
          >
            Change
          </div>
          <img
            data-pfp
            class="h-40 w-40 rounded-full object-cover shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
            src="/assets/icons/profile.svg"
            alt
          />
        </div>
      </div>
    </div>

    <!--status show icon-->

    <hr class="mt-16 border-gray-500" />
    <!-- <hr class="border-t-1 ml-64 w-20  border-gray-800" /> -->

    <!--post icon and title-->
    <div class="flex flex-row justify-center gap-20">
      <!-- posts -->

      <button
        data-posts-button
        class="mx-2 flex items-center border-t border-transparent border-t-gray-800 px-2 py-6 text-center text-gray-600 hover:text-blue-600 focus:text-gray-600 focus:outline-none"
      >
        <img src="/assets/icons/posts.svg" class="h-6 w-6" alt="" />
        <span class="mx-4 text-sm font-medium">Posts</span>
      </button>
      <button
        data-liked-button
        class="mx-2 flex items-center border-transparent border-t-gray-800 px-2 py-6 text-center text-gray-600 hover:text-blue-600 focus:text-gray-600 focus:outline-none"
      >
        <img src="/assets/icons/like.svg" class="h-6 w-6" alt="" />
        <span class="mx-4 text-sm font-medium">Liked</span>
      </button>

      <button
        data-saved-button
        class="mx-2 flex items-center border-transparent border-t-gray-800 px-2 py-6 text-center text-gray-600 hover:text-blue-600 focus:text-gray-600 focus:outline-none"
      >
        <img src="/assets/icons/save.svg" class="h-6 w-6" alt="" />
        <span class="mx-4 text-sm font-medium">Saved</span>
      </button>
    </div>
    <div>
      <div
        class="flex flex-1 basis-10/12 flex-col items-center bg-gray-100 pt-8"
        id="TabContainer"
      >
        <!-- insert posts -->
      </div>
    </div>
  </div>
</div>
<div class="hidden" id="edit-modal">
  <div
    class="fixed left-0 top-0 h-dvh w-lvw bg-slate-500 bg-opacity-10 backdrop-blur-lg"
  ></div>
  <div
    class="absolute left-1/2 top-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 md:w-1/4"
  >
    <form class="space-y-6" id="editForm">
      <div>
        <label
          for="edit-username"
          class="text-md block font-medium leading-6 text-gray-900"
          >Username</label
        >
        <div>
          <input
            type="text"
            name="username"
            id="edit-username"
            placeholder="akaMark"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <span
            id="usernameError"
            class="hidden w-full rounded-md py-0.5 text-red-700 sm:text-sm sm:leading-6"
          ></span>
        </div>
      </div>
      <div>
        <label
          for="edit-name"
          class="text-md block font-medium leading-6 text-gray-900"
          >Full Name</label
        >
        <div>
          <input
            type="text"
            name="fullname"
            id="edit-name"
            placeholder="Mark Tally"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <span
            id="fullnameError"
            class="hidden w-full rounded-md py-0.5 text-red-700 sm:text-sm sm:leading-6"
          ></span>
        </div>
      </div>
      <div>
        <label
          for="edit-bio"
          class="text-md block font-medium leading-6 text-gray-900"
          >Bio</label
        >
        <div>
          <textarea
            type="text"
            name="bio"
            id="edit-bio"
            placeholder="Here should be short description about yourself."
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          ></textarea>
        </div>
      </div>
      <div>
        <label
          for="edit-privacy"
          class="text-md block font-medium leading-6 text-gray-900"
          >Privacy</label
        >
        <div>
          <select
            name="privacy"
            id="edit-privacy"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          >
            <option value="Public">Public</option>
            <option value="Private">Private</option>
          </select>
        </div>
      </div>

      <button
        type="submit"
        id="submitEdit"
        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Update Details
      </button>
      <button
        type="button"
        id="cancelEdit"
        class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
