<div class="flex-start flex items-center justify-between px-4 py-2 text-sm">
  <button data-profile-details class="flex">
    <div
      class="flex cursor-pointer items-center rounded-full border-2 border-transparent text-sm transition duration-150 ease-in-out focus:border-gray-300 focus:outline-none"
    >
      <img
        data-userPfp
        class="h-8 w-8 rounded-full object-cover"
        src="/assets/icons/profile.svg"
        alt="user"
      />
    </div>
    <div class="ml-4 flex flex-col items-start font-bold">
      <div data-username>Joshua.W</div>
      <div data-fullname class="text-xs font-medium text-gray-700">
        Joshua Wangden
      </div>
    </div>
  </button>
  <button
    data-follow-btn
    class="my-auto me-2 rounded-lg bg-blue-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300"
  >
    Follow
  </button>
</div>
