<div class="flex">
  <!-- sidebar -->
  <aside
    id="sidebar"
    class="shadow-blue-gray-900/5 shadow-blue-gray-900/5 sticky left-0 top-0 flex h-lvh w-64 max-w-[20rem] flex-1 basis-2/12 flex-col rounded-xl bg-white bg-clip-border p-4 text-gray-700 shadow-xl"
  >
    <div class="mb-2 p-4">
      <a data-link href="/ ">
        <img
          get-parent-a
          class="h-10 w-auto"
          src="/assets/icons/Instagram_Full.png"
          alt="Instagram Home"
        />
      </a>
      <h5
        class="text-blue-gray-900 sr-only block font-sans text-xl font-semibold leading-snug tracking-normal antialiased"
      >
        Instagram
      </h5>
    </div>
    <nav
      class="text-blue-gray-700 flex h-full min-w-[240px] flex-col justify-between gap-1 p-2 font-sans text-base font-normal"
    >
      <div class="gap-2">
        <a
          data-link
          href="/"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 active flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="home"
              get-parent-a
              src="/assets/icons/home.svg"
              class="h-5 w-5"
              alt=""
            />
          </div>
          Home
        </a>

        <a
          data-link
          href="/search"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="search"
              get-parent-a
              src="/assets/icons/search.svg"
              class="h-5 w-5"
              alt=""
            />
          </div>
          Search
        </a>

        <a
          data-link
          href="/explore"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="explore"
              get-parent-a
              src="/assets/icons/explore.svg"
              class="h-5 w-5"
              alt=""
            />
          </div>
          Explore
        </a>
        <a
          data-link
          href="/requests"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="like"
              get-parent-a
              src="/assets/icons/like.svg"
              class="h-5 w-5"
              alt=""
            />
          </div>
          Follow Requests
        </a>

        <a
          data-link
          href="/create"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="create"
              get-parent-a
              src="/assets/icons/create.svg"
              class="h-5 w-5"
              alt=""
            />
          </div>
          Create
        </a>

        <a
          data-link
          href="/direct"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex hidden w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="inbox"
              get-parent-a
              src="/assets/icons/inbox.svg"
              class="h-5 w-5"
              alt=""
            />
          </div>
          Messages
          <!-- Counter -->
          <div class="ml-auto grid place-items-center justify-self-end">
            <div
              class="bg-blue-gray-500/20 text-blue-gray-900 relative grid select-none items-center whitespace-nowrap rounded-full px-2 py-1 font-sans text-xs font-bold uppercase"
            >
              <span class="">14</span>
            </div>
          </div>
        </a>

        <a
          data-link
          href="/notifs"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex hidden w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="notif"
              get-parent-a
              src="/assets/icons/notif.svg"
              class="h-5 w-5"
              alt=""
            />
          </div>
          Follow Requests
        </a>

        <a
          data-link
          data-profile-link
          href="/profile"
          role="button"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div get-parent-a class="mr-4 grid place-items-center">
            <img
              data-nav-icon="profile"
              get-parent-a
              src="/assets/icons/profile.svg"
              class="h-5 w-5 rounded-full"
              alt=""
            />
          </div>
          Profile
        </a>
      </div>
      <div>
        <button
          role="button"
          onclick="window.location.href='http://localhost:8000/auth/logout'"
          class="hover:bg-blue-gray-50 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:text-blue-gray-900 active:bg-blue-gray-50 active:text-blue-gray-900 flex w-full items-center rounded-lg p-3 text-start leading-tight outline-none transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80"
        >
          <div class="mr-4 grid place-items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-5"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25a.75.75 0 01.75.75v9a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM6.166 5.106a.75.75 0 010 1.06 8.25 8.25 0 1011.668 0 .75.75 0 111.06-1.06c3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788a.75.75 0 011.06 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          Log Out
        </button>
      </div>
    </nav>
  </aside>
  <div
    class="flex flex-1 basis-10/12 flex-col items-center bg-gray-100 pt-8"
    id="mainContainer"
  >
    <!-- insert posts -->
  </div>
</div>
