<nav class="nav">
  <a href="/" data-link
    ><img
      src="/assests/icons/Instagram_Full.png"
      alt="Instagram Logo Full"
      srcset=""
  /></a>
  <div class="flex flex-col">
    <a href="/login" data-link>Login</a>
    <a href="/signup" data-link>Sign Up</a>
  </div>
</nav>
<section>
  <container>
    <div>
      <!-- <img src="/assests/icons/Phone.png" alt="Instagram Logo Full" /> -->
    </div>
    <div class="CTA">
      <img src="/assests/icons/Instagram_Full.png" alt="Instagram Logo Full" />
      <div id="formHolder">
        <!-- append form here -->
      </div>
    </div>
    <div class="CTA">
      <div id="formAltCTA"></div>
    </div>
  </container>
</section>
